[Unit]
Description=WoW Realm Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/wow-realm-monitor/wow-realm-monitor.py
WorkingDirectory=/opt/wow-realm-monitor
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=multi-user.target

